$icon_catalog: 'catalog.svg';
$icon_cooking: 'cook.svg';
$icon_point: 'marker.svg';
$icon_loupe: 'search.svg';

header  {
  background: $bgcolor;
  height: auto;
  &:after{
    background-color: $bgcolor;
  }
  &.fixed {
    height: auto;
  }
  .parts {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    a.logo {
      margin: 1vw;
      max-width: 14vw;
      flex: 1;
      img {
        width: auto;
        height: 100%;
        margin: 0;
      }
    }
    ul {
      li {
        a {
          p {
            font-size: 1.3vw;
          }
        }
      }
      &.sup-menu {
        flex-direction: row-reverse;
        margin: 0 1vw;
        li {
          &.phone {
            margin: 0 3.4vw;
            a {
              i{
                color: $hovercolor;
              }
              p {
                color: $hovercolor;
                font-size: 1.6vw;
                margin-left: 1.3vw;
              }
            }

            i.icon-phone {
              font-size: 1.5vw;
            }
          }

          &.download {
            margin: 0 1.3vw;
            a {
              align-items: flex-end;
            }

            p {
              color: $fontcolor;
              font-size: 1.16vw;
              margin-left: .55vw;
            }

            .icon-download-main {
              font-size: 1px;
              width: 21px;
              height: 20px;
              align-items: flex-end;
              &:before {
                @include svg(11, 17, 'arrow.down.svg');
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
              }
              &:after {
                content: '';
                @include svg(23, 11, 'border.down.svg');
                background-size: 100%;
                background-color: transparent;
                position: static;
              }
            }
          }

          &.city {
            border: 1px solid $hovercolor;
            border-radius: calc(0.9vw + 16px / 2);
            margin: 0;
            cursor: pointer;
            .drop-list {
              left: auto;
              right: 0;
              .simplebar-scroll-content{
                background: $bgcolor;
              }
              ul {
                li {
                  &:hover{
                    background: rgba(255,255,255,.2);
                  }
                  a {
                    color: $fontcolor;
                  }
                }
              }
            }
            a {
              position: relative;
              overflow: hidden;
              .icon-arrow-down {
                color: $hovercolor;
                position: absolute;
                left: 1.5vw;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 9px;
              }
              p {
                padding: .8vw 2.5vw .8vw 3.2vw;
                font-size: 1.2vw;
                margin: 0;
                color: $fontcolor;
              }
            }

            &:hover a p {
              color: $hovercolor;
            }
          }
        }
      }
      &.menu {
        flex: 5;
        padding: 1.6vw 0;
        li {
          margin: 0 .5vw;
          &.light {
            a {
              cursor: default;
            }
          }
          a {
            position: relative;
            font-size: 16px;
            p {
              color: $fontcolor;
            }
            &:hover {
              p {
                color: $hovercolor;
              }
            }
            i {
              width: 41px;
              height: 42px;
              &:before {
                content: '';
                display: inline-block;
                transform: scale(0.85);
              }

              @each $icon-name, $icon in (
                      icon-catalog: $icon_catalog,
                      icon-cooking: $icon_cooking,
                      icon-point: $icon_point,
                      icon-loupe: $icon_loupe
              ) {
                &.#{$icon-name}:before {
                  @include svg(41, 42, $icon);

                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 980px) {
      margin: 0;
      a.logo {
        margin: 0;
        img {
          width: 6.7vw;
        }
      }
    }
    @media (max-width: 767px) {
      margin: 0;
      a.logo {
        margin: 0;
        img {
          width: 6.7vw;
        }
      }
      ul {
        &.sup-menu {
          &.fixed {
            margin: 0;
            flex-wrap: wrap;
            flex-direction: row;
          }
          li.city {
            padding: 10px 35px;
            a {
              p {
                font-size: 3.46666667vw;
              }
            }
          }
          li.phone {
            margin: 0;
            a {
              font-size: 6.6666666vw;
              p {
                font-size: 6.6vw;
              }
            }
          }
        }
      }
    }
  }
}