header {
  height: auto;
  &.fixed {
    height: auto;
  }
  .parts {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    a.logo {
      margin: 1vw;
      max-width: 14vw;
      flex: 1;
      img {
        width: auto;
        height: 100%;
        margin: 0;
      }
    }
    ul {
      li{
        a{
          p{
            font-size: 1.3vw;
          }
        }
      }
      &.sup-menu {
        flex-direction: row-reverse;
        margin: 0 1vw;
        li {
          &.phone {
            margin: 0 3.4vw;
            a p {
              color: #f98321;
              font-size: 1.6vw;
              margin-left: 1.3vw;
            }

            i.icon-phone {
              font-size: 1.5vw;
            }
          }

          &.download {
            margin: 0 1.3vw;
            a{
              align-items: flex-end;
            }
            p {
              color: black;
              font-size: 1.16vw;
              margin-left: .55vw;
            }

            .icon-download-main {
              font-size: 1px;
              width: 21px;
              height: 20px;
              align-items: flex-end;

              &:before{
                background-image: url('../img/november/svg/sprite.svg');
                background-position: -0.5em -0.5em;
                width: 100%;
                height: 100%;
                background-size: $bgsize;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
              }
              &:after{
                background-image: url("../img/november/svg/sprite.svg");
                background-position: -0.5em -21.5em;
                width: 100%;
                height: 100%;
                background-color: transparent;
                position: static;
                background-size: $bgsize;
              }
            }
          }

          &.city {
            border: 1px solid #f98321;
            border-radius: calc(0.9vw + 16px / 2);
            margin: 0;
            padding: .8vw 2.5vw;
            cursor: pointer;

            a p {
              margin-left: 0.6vw;
              font-size: 1.2vw;
            }

            &:hover a p {
              color: #FF711A;
            }
          }
        }
      }
      &.menu {
        flex: 5;
        padding: 1.6vw 0;
        li {
          margin: 0 .5vw;
          a {
            position: relative;
            font-size: 16px;
            i {
              width: 41px;
              height: 42px;
              &:before{
                content: '';
                background-image: url(../img/november/svg/sprite.svg);
                display: inline-block;
                width: 41.03em;
                height: 42em;
                font-size: 1px;
                transform: scale(0.85);
                background-size: $bgsize;
              }
              &.icon-catalog{
                &:before{
                  background-position: -0.5em -42.5em;
                }
              }
              &.icon-cooking{
                &:before{
                  background-position: -0.5em -85.5em;
                }
              }
              &.icon-point{
                &:before{
                  background-position: -0.5em -128.5em;
              }
              }
              &.icon-loupe {
                &:before{
                  background-position: -0.5em -171.5em;
                }
              }
            }

          }

        }
      }
    }
    @media (max-width: 980px) {
      margin: 0;
      a.logo{
        margin: 0;
        img{
          width: 6.7vw;
        }
      }
    }
    @media (max-width: 767px) {
      margin: 0;
      a.logo{
        margin: 0;
        img{
          width: 6.7vw;
        }
      }
      ul{
        &.sup-menu{
          &.fixed {
            margin: 0;
            flex-wrap: wrap;
            flex-direction: row;
          }
          li.city{
            padding: 10px 35px;
            a{
              p{
                font-size: 3.46666667vw;
              }
            }
          }
          li.phone{
            margin: 0;
            a{
              font-size: 6.6666666vw;
              p{
                font-size: 6.6vw;
              }
            }
          }
        }
      }
    }
  }
}