$arrowcolor: #000;
$arrowborder: $hovercolor;
$togglecolor: $arrowcolor;
$toggleborder: $hovercolor;

section.home {
  .home-slider {
    padding: 0;
    button {
      background: transparent;
      width: 21px;
      height: 21px;
      &.slick-arrow {
        width: 63px;
        height: 63px;
        background: rgba($arrowborder, .3);
        box-shadow: none;
        transition: all .3s;
        &:before {
          z-index: 1;
          background: transparent;
          position: relative;
          color: $arrowcolor;
        }
        &:after {
          content: '';
          position: absolute;
          background: $arrowborder;
          width: 47px;
          height: 47px;
          border-radius: 50%;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          margin: auto;
        }
      }
      &::before {
        width: 11px;
        height: 11px;
        background: #020202;
      }
    }
    &:hover {
      button.slick-arrow {
        background: rgba($arrowborder, .5);
      }
    }
    .slick-dots {
      li {
        margin: .27vw;
        &.slick-active {
          button {
            cursor: default;
            background: $toggleborder;
            &:before {
              background: $togglecolor;
            }
          }
        }
        &:hover {
          button {
            background: $toggleborder;
            &:before {
              background: $togglecolor;
            }
          }
        }
        button {
          width: 21px;
          height: 21px;
          background: transparent;
          &:before {
            width: 11px;
            height: 11px;
            background: $toggleborder;
          }
        }
      }
    }
    @media (max-width: 767px) and (orientation: portrait){
      overflow: visible;
      .slick-arrow{
        top: 100%;
        margin: 5px 0;
        transform: scale(0.8);
        &.slick-prev{
          left: 30vw;
        }
        &.slick-next{
          right: 30vw;
        }
      }
    }
  }
}