$headercolor: #020202;

.list-products,
.products-box {
  background: $bgcolor;
  h2{
    color: $headercolor;
    span{
      color: $headercolor;
    }
  }
  .products {
    justify-content: flex-start;
    .item {
      width: 25%;
      padding: 0 0 calc(25% / (360 / 515));
      position: relative;
      background: transparent;
      margin-bottom: 30px;
      &.empty{
        display: none;
      }
      .product-container {
        padding: 0 15px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .preview {
        position: absolute;
        width: 70%;
        left: 0;
        right: 0;
        height: auto;
        margin: auto;
        z-index: 1;
        bottom: -15px
      }
      .product {
        width: 100%;
        height: 100%;
        z-index: 1;
        box-shadow: 0 1px 10px rgba($fontcolor, 0.7);
        .product-description{
          background: #fff;
          position: relative;
          height: 40%;
          padding: 20% 15px 20px;
          overflow: hidden;
          margin-top: 0;
          box-sizing: border-box;
          .dl {
            font: italic 400 0.8vw 'Caveat', cursive;
            color: #020202;
            margin: 0 0 .8vw;
          }
          .name {
            position: static;
            width: auto;
            font: 600 1.2vw/1.4 $fontUbuntu;
            height: calc(1.2vw * 1.4 * 2);
            overflow: visible;
          }
          &:after {
            content: '';
            width: 150%;
            height: 120%;
            border-radius: 90% / 90px;
            display: inline-block;
            border-bottom: 10px solid $hovercolor;
            position: absolute;
            left: 50%;
            top: -100%;
            transform: translateX(calc(-50% - 0.5px));
            margin: auto;
            background: $bgcolor;
          }
        }
        &:hover {
          .product-main {
            .full-description {
              display: block !important;
              height: calc(100% * 100 / 60 + 2px);
              z-index: 1;
              background: $bgcolor;
              border-color: rgba($hovercolor, .5);
              .name{
                color: $fontcolor;
                font: 600 1.2vw/1.4 $fontUbuntu;
                position: absolute;
                top: 10vw;
              }
              .price{
                display: none;
              }
              &:before{
                content: '';
                float: right;
                width: 100px;
                height: 100px;
                display: block;
              }
            }
          }
        }
        @media (min-width: 1400px) {
          .full-description{
            .name{
              font-size: 16px !important;
            }
          }
          .product-description{
            .name{
              font-size: 16px;
              height: auto;
            }
            .dl{
              font-size: 14px;
            }
          }
        }
      }
      .product-main {
        background: $bgcolor;
        position: relative;
        height: 60%;
        display: flex;
        .price {
          position: absolute;
          top: 50px;
          right: 25px;
          width: auto;
          padding: 0 5px;
          z-index: 2;
          p {
            position: relative;
            z-index: 1;
            align-items: end;
            font: 600 2.9vw $fontUbuntu;
            span {
              sup {
                font-size: 1vw;
              }

              sub {
                font-size: 0.9vw;
                background: #fff;
                color: #000;
                padding: 3px;
                overflow: hidden;

                &::after {
                  content: '';
                  width: auto;
                  height: 4px;
                  background: #FF371C;
                  display: inline-block;
                  position: absolute;
                  top: 10px;
                  left: -5px;
                  right: -5px;
                  transform: rotate(-30deg);
                }
              }
            }
          }
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            background: #FF371C;
            top: calc(100% - 7px);
            height: 14px;
            border-radius: 50%;
          }
        }
      }
      .discount {
        height: 3.4vh;
        right: 5%;
        top: 7%;
        padding: 0 10px;
        transform: rotate(-5deg);
        z-index: 2;
        p {
          font: 600 1.3vw $fontUbuntu;
        }
      }
    }
  }
  @media (max-width: 767px) and (orientation: portrait){
    .products{
      width: calc(100% + 30px);
      max-width: none;
      .item{
        width: 50%;
        padding: 0 0 calc(50% / (360 / 450));

        .product {
          .product-main{
            height: 50%;
            .full-description {
              height: calc(100% * 2) !important;
              .name{
                font-size: 11px !important;
                top: 35% !important;
              }
            }

            .price {
              top: 20%;
              right: 4%;

              p {
                font-size: 16px;
                align-items: flex-start;
                padding-bottom: 16px;

                span {
                  sup {
                    font-size: 10px;
                  }

                  sub {
                    font-size: 10px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    white-space: nowrap;
                  }
                }
              }
            }

          }
          .product-description {
            height: 50%;
            padding: 25% 10px 10px;
            .dl{
              font-size: 9px;
              font-style: normal;
            }
            .name{
              font-size: 11px;
            }
          }
        }
        .discount{
          padding: 0;
          height: auto;
          p{
            font-size: 14px;
          }
        }
      }
    }
  }
}