@import "variables";
@import "base";
@import "mixins";
@import "keyframes";

section {
  &.subscription {
    background: #f58121;
    border-bottom: 10px solid #97d700;
  }
}

.list-products .container .filter-panel .category p {
  text-transform: none;
  font-size: 18px;
  color: #000;

  .icon-arrow-down:before {
    content: '';
    background-image: url(../img/halloween/arrow_down_orange.png);
    width: 17px;
    height: 10px;
    display: inline-block;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  section.home {
    overflow: hidden;
  }

  ul.menu li a i:not(.icon-loupe)::before {
    left: 0;
  }


  .blackfriday-bg .container-fluid:first-child:not(.lists) {
    background-size: cover;
  }



  .navigator .lists {
    .list {
      margin: 0 !important;
      width: 100%;
    }

    .container .simplebar-scroll-content .simplebar-content {
      padding: 0;
    }

    .list .services, .container .simplebar-scroll-content .simplebar-content .list ul li {
      width: 100%;
    }
  }

  section.subscription::after {
    top: auto;
    bottom: 90%;
  }

  footer .container .menu {
    div {
      padding: 0 !important;
    }

    justify-content: end;
  }

  section.list-products .container h2 {
    margin-top: 120px;
  }



}