@import "variables";
@import "base";
@import "mixins";
@import "keyframes";

section {
  &.subscription {
    background: #f58121;
    border-bottom: 10px solid #97d700;
  }
}

.navigator .filter-panel form .field-container .field {
  input, select {
    border-radius: 20px;
    border: 2px solid #f58121;
  }
}



.breadcrumb {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;

  .container ul {
    justify-content: flex-end;
    margin-top: 50px;

    li {
      z-index: 1;

      a {
        border: none;
        padding: 0;
      }

      p {
        color: #ff8200;
      }

      &.arrow {
        margin: 0 5px;

        .icon-arrow-right {
          font-size: 100%;

          &:before {
            content: '/';
          }
        }
      }
    }
  }
}

section.list-products {
  position: relative;
  overflow: hidden;

  .container {
    &:before {
      content: '';
      background-image: url(../img/halloween/bg_under_heared.png);
      background-color: rgba(244, 244, 244, 1);
      background-blend-mode: multiply;
      width: 28.17vw;
      height: 7.5vw;
      -webkit-background-size: cover;
      background-size: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
    }

    h2 {
      text-align: left;
      width: 100%;
      margin-top: 30px;
      color: #000;

      span {
        color: #000;
      }
    }

    .filter-panel {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      background: #fff;
      padding: 0 20px;
      box-sizing: border-box;
      margin-bottom: 40px;

      &:before {
        content: '';
        position: absolute;
        width: 40px;
        height: 43px;
        background-image: url(../img/halloween/bat1.png);
        bottom: -40px;
        left: 0;
      }

      &:after {
        content: '';
        position: absolute;
        width: 9.07vw;
        height: 4.5vw;
        background-image: url(/local/templates/dixy_2018/css/../img/halloween/bat2.png);
        background-size: cover;
        top: -3vw;
        right: -50px;
      }

      .category {
        border: none;
        box-shadow: none;
        width: auto;

        &.current {
          background: #fff;
        }
      }

      .category-list {
        background: #fff;
      }

      .different-filters li {
        i:before {
          content: '';
          width: 31px;
          height: 31px;
          display: inline-block;
          background-repeat: no-repeat;
        }

        .icon-discount:before {
          background-image: url(../img/halloween/filter_at_the_price.png);
        }

        .icon-price-tag:before {
          background-image: url(../img/halloween/filter_discount.png);
        }

        .icon-award:before {
          background-image: url(../img/halloween/filter_on_popularity.png);
        }
      }
    }
  }
}

.list-products .container .filter-panel .category p {
  text-transform: none;
  font-size: 18px;
  color: #000;

  .icon-arrow-down:before {
    content: '';
    background-image: url(../img/halloween/arrow_down_orange.png);
    width: 17px;
    height: 10px;
    display: inline-block;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  section.home {
    overflow: hidden;
  }

  ul.menu li a i:not(.icon-loupe)::before {
    left: 0;
  }

  section.home {
    .container .products-footnote {
      width: 90vw;
      box-sizing: border-box;

      &::after {
        width: 136px;
        height: 67px;
        right: 0;
        top: -45px;
      }
    }

  }

  .blackfriday-bg .container-fluid:first-child:not(.lists) {
    background-size: cover;
  }



  .navigator .lists {
    .list {
      margin: 0 !important;
      width: 100%;
    }

    .container .simplebar-scroll-content .simplebar-content {
      padding: 0;
    }

    .list .services, .container .simplebar-scroll-content .simplebar-content .list ul li {
      width: 100%;
    }
  }

  section.subscription::after {
    top: auto;
    bottom: 90%;
  }

  footer .container .menu {
    div {
      padding: 0 !important;
    }

    justify-content: end;
  }

  section.list-products .container h2 {
    margin-top: 120px;
  }

  .breadcrumb {
    top: 113px;

    .container ul {
      justify-content: flex-start;
      margin-top: calc(110px - 3.46666667vw);
      margin-bottom: 0;
    }
  }

  section.list-products .container {
    &:before {
      width: 407px;
      height: 108px;
    }

    .filter-panel {
      &:after {
        top: -10px;
        width: 136px;
        height: 67px;
      }

      padding: 20px 20px 0;
    }
  }
}