h2 {
  font: 600 2.4vw $fontUbuntu;
  margin-bottom: 3.5vw;
  span{
    color: #000;
  }
  &::before, &::after {
    display: none;
  }
}

.container{
  margin: auto;
  padding: 0 30px;
  box-sizing: border-box;
}