@mixin sprite($X: 41px, $Y: 42px) {
  font-size: 1px;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: {
    image: url(../img/november/svg/sprite.svg);
    position: $X $Y;
    size: 42.03em 254em;
  }
}