@mixin svg($W: 41px, $H: 42px, $name: 'logo.jpg') {
  content: '';
  font-size: 14px;
  width: $W / 14 + em;
  height: $H / 14 + em;
  display: inline-block;
  background: {
    image: url('../img/#{$projectName}/#{$name}');
    size: cover;
    position: center bottom;
  }
}

@mixin image($size: cover, $position: center, $name: 'custom-bg.jpg'){
  background: {
    size: $size;
    position: $position;
    image: url('../img/#{$projectName}/#{$name}');
  }
}

@mixin button($color: $hovercolor, $textcolor: #000, $bordercolor: $hovercolor, $hover: #fff){
  background: $color;
  color: $textcolor;
  border: transparent;
  position: relative !important;
  border-radius: calc(2vw + 16px / 2);
  letter-spacing: 0.1em;
  .icon-arrow-right{
    display: none;
  }
  &:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: calc(2vw + 16px / 2);
    border: 2px dotted $bordercolor;
    transition: all .3s;
  }

  &:hover {
    background: $hover;
    color: $textcolor;
    &:after{
      border-color: $hover
    }
  }
  @media (max-width: 767px) and (orientation: portrait) {
    border-radius: 20px;
    &:after{
      border-radius: 25px;
    }
  }
}