@mixin svg($W: 41px, $H: 42px, $name: 'logo.jpg') {
  font-size: 14px;
  width: $W / 14 + em;
  height: $H / 14 + em;
  display: inline-block;
  background: {
    image: url('../img/#{$projectName}/#{$name}');
    size: cover;
    position: center bottom;
  }
}